:root{

--bg1:#eef1ff;
--bg2:#d9dfff;
--text:#4f5cff;
--white:#ffffff;

}

body{

margin:0;
height:100vh;
font-family:Inter,sans-serif;

display:flex;
justify-content:center;
align-items:center;

background:radial-gradient(circle at center,var(--bg1),var(--bg2));

}

.container{

text-align:center;

}

.subtitle{

color:#7c85d3;
margin-bottom:20px;

}

.timer{

font-size:120px;
font-weight:800;
color:var(--text);

}

.controls{

margin-top:20px;
display:flex;
gap:10px;
justify-content:center;

}

.controls button{

border:none;
padding:12px 22px;
border-radius:20px;
cursor:pointer;

background:white;
box-shadow:0 5px 20px rgba(0,0,0,0.1);

font-weight:600;

}

.controls button:hover{

transform:scale(1.05);

}

.top-left{

position:absolute;
top:20px;
left:25px;

font-weight:600;

}

.top-right{

position:absolute;
top:20px;
right:25px;

}

#themeToggle{

border:none;
background:white;
border-radius:50%;
padding:8px 12px;
cursor:pointer;

}

.bottom-right{

position:absolute;
right:30px;
bottom:30px;

color:#777;

font-size:14px;

}

body.dark{

background:radial-gradient(circle,#20253f,#101322);
color:white;

}

body.dark .controls button{

background:#2c325a;
color:white;

}

body.dark #themeToggle{

background:#2c325a;
color:white;

}